body {
	background-color: transparent;
}

.table {
	display: table;
}

.row {
	display: table-row;
}

.cell {
	display: table-cell;
}

.border-3px-rounded-gray {
	border-style: solid;
	border-color: gray;
	border-width: 3px;
	border-radius: 50%;
}

.background-pink {
	background-color: pink;
}

.background-deeppink {
	background-color: deeppink;
}

.background-skyblue {
	background-color: skyblue;
}

.background-deepskyblue {
	background-color: deepskyblue;
}

.alignment-div-center {
	margin: 0 auto;
}

.rotate-270deg {
	transform: rotate(270deg);
	margin: 0 0 0 -2px;
}

.padding-5px {
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
}
