body {
	background-color: transparent;
}

.table {
	display: table;
}

.row {
	display: table-row;
}

.cell {
	display: table-cell;
}

.border-right-3px-solid-silver {
	border-right: 3px solid silver;
}

.border-3px-solid-silver {
	border-style: solid;
	border-color: silver;
	border-width: 3px;
}

.backgroundcolor-pink {
	background-color: pink;
}

.backgroundcolor-skyblue {
	background-color: skyblue;
}

.backgroundcolor-aliceblue {
	background-color: #EEF9FD;
}

.backgroundcolor-lavenderblush {
	background-color: #FFF6F8;
}

.backgroundcolor-mustard {
	background-color: #FFDB58;
}

.backgroundcolor-greenyellow {
	background-color: #9ACD32;
}

.backgroundcolor-lightyellow {
	background-color: #FFFFE0;
}

.outer-alignment-center {
	margin: 0 auto;
}

.inner-alignment-top {
	vertical-align: top;
}

.inner-alignment-middle {
	vertical-align: middle;
}

.inner-alignment-bottom {
	vertical-align: bottom;
}

.inner-alignment-right {
	text-align: right;
}

.inner-alignment-center {
	text-align: center;
}

.rotate-270degree {
	transform: rotate(270deg);
	backface-visibility: hidden;
}

.rotate-90degree {
	transform: rotate(90deg);
	backface-visibility: hidden;
}

.padding-5px {
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
}

.border-rounded-3px {
	border-radius: 3px;
}

.border-rounded-50percent {
	border-radius: 50%;
}

.inner-text-nowrap {
	white-space: nowrap;
}

.link-text-nounderline {
	text-decoration:none;
}

.move-todown {
	animation: move-todown 1s infinite;
}

@keyframes move-todown {
	0%   { opacity: 0;}
	100% { opacity: 1; transform: translateY(10px); }	
}

.move-toleft {
	animation: move-toleft 1s infinite;
}

@keyframes move-toleft {
	0%   { opacity: 0;}
	100% { opacity: 1; transform: translateX(-10px); }	
}

.text-color-red {
	color: red;
}

.text-color-green {
	color:green;
}

.size-20px {
	image-rendering: crisp-edges;
	width: 20px;
	height: 20px;
}